<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <!-- Define appenders -->
   <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="DEBUG"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%t] %-5p: %m%n"/>
      </layout>
   </appender>

   <appender name="TraceLevelLogFileAppender" class="org.apache.log4j.FileAppender">
      <param name="Threshold" value="TRACE"/>
      <param name="File" value="finch-trace.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t] %-5p: %c: %m%n"/>
      </layout>
   </appender>

   <logger name="edu.cmu.ri.createlab.usb.hid">
      <level value="trace"/>
      <appender-ref ref="TraceLevelLogFileAppender"/>
   </logger>

   <logger name="edu.cmu.ri.createlab.serial">
      <level value="trace"/>
      <appender-ref ref="TraceLevelLogFileAppender"/>
   </logger>

   <root>
      <priority value="debug"/>
      <appender-ref ref="ConsoleAppender"/>
   </root>

</log4j:configuration>